<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>ECOSPHERE | ResidentLogin</title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="nr">
                <a href="/">HOME</a>
                <a href="/residentLogin">RESIDENT</a>
                <a href="/cleanerLogin">CLEANER</a>
            </div>
        </nav>
        <div id="lpage1">
            <div id="lpg1-container">
                <h1>Resident Login</h1>
                <div id="contact-pg4">
                    <div class="contact-container">
                        <form action="/residentLogin" method="POST" class="contact-left">
                            <input type="hidden" name="access_key" value="dd60566d-3f46-4912-b6f3-2b7e6d1ba018">
                            <div id="label">
                                <label for="username">Username:</label>
                                <input type="text" name="username" id="id" placeholder="Id" class="contact-inputs" required >
                            </div>
                            <div id="label">
                                <label for="password">Password:</label>
                                <input type="password" name="password" id="password" placeholder="Password" class="contact-inputs" required >
                            </div>
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                    <div class="bottomLinks">
                        <a href="/residentRegister">Not Registered? Register Here...</a>
                        <a href="/residentLogin/auth/google">
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-section">  
              <div class="footer-line1">
                <br><br><br><br><br>
                <h3>About Us</h3>
                <br>
                <h3>Programers</h3>
                <br>
                <h3>Events</h3>
                <br>
                <h3>Blog</h3>
                <br>
                <h3>Join our Team</h3>
                <br>
                <div class="outerwraperimg">
                <div class="image-twitter "></div>
                <div class="image-instagram"></div>
                </div>
              </div>
              <div class="linediv1"></div>

               <div class="footer-line2">
                <h1 class="heading-updates"> Get Updates  </h1>
                <p class="footer-bottomline"> We've cleaned up the clutter—one small click for a tidier web, one big step for a cleaner Earth</p>
                <form class="subscribe-form">
                   <div class="outerdivformaIL"> <input class="email-footer" type="email" placeholder="*Email" required>
                     <button class="email-footer-button" type="submit">Subscribe</button>
                
                     </div>
                     <div class="outerdivforUsername">
                     <input class="username-footer " type="text" placeholder="*Username" required>
                    
                     </div>
                </form>
            </div>
               <div class="linediv2"></div>
                <div class="footer-line3">
                    <p class="SendUsAMessage-footer" > Send Us A Message</p>
                    <p class="developerfrom-footer"> Developers From :</p>
                    
                    <p> Punjab</p>
                    <div class="imglogo-fotter"></div>
                </div>
            </div>
        <div class="lastoutline-footer">
            <div class="lastoutline-footer-text">
<p >© 2024 ECOSPHERE. All rights reserved.</p>
            </div>
        </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>