*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.exo-2-sirat{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
html,body{
    height: 100%;
    width: 100%;
    background-color:#e0e0e0;
}
main{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

#lpage1{
    height: auto;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lpg1-container{
    height: auto;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8% 0 0 0 ;
    border-bottom: solid #2c3e50 1px;
}

#lpage1 h1{
    font-size: 8vh;
    font-weight:900;
    color:#3A4630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap:1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lpage1 a{
    font-size: 2vw;
    font-weight:900;
    color:#3A4630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap:1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    cursor: hand;
}

#contact-pg4{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    flex-direction: column;
    gap:4% ;
}
#contact-pg4 a{
    cursor: pointer;
}

.contact-container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color:none;
    border-radius: 10px;
    box-shadow: none;
    z-index: 996;
}
.contact-container form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.contact-left-title h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color:wheat;
    text-decoration: underline;
}


.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 900;
    color: #4E3629;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 2px 2px 10px 2px #111;
}
form textarea{
    width: 400px;
    min-height: 100px;
    border: none;
    outline: none;
    font-weight: 900;
    color: #2c3e50;
    border-radius: 5px;
    padding: 2%;
    background-color: none;
}
.contact-inputs:focus{
    border: solid #4E3629 2px;
    box-shadow: 0 8px 16px 0 #4E3629;
}

.contact-left button{
    display:flex;
    align-items: center;
    padding: 2%;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    gap: 10px;
    border: none;
    border-radius: 5px;
    background:#3A4630;
    color: white;
    cursor: pointer;
    height: 5vh;
}
#label{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    border-bottom: 2px solid #4E3629;
    font-weight: 900;

}
#label input,#label textarea{
    background-color: transparent;
    text-align: center;
    box-shadow: none;
}
.bottomLinks
{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 4vw;
    justify-content: space-between;
}
.bottomLinks a,.bottomLinks button{
    font-size:2vh;
    color: #2c3e50;
    background-color: none;
    border: none;
    cursor: pointer;
}
/* .registerForm
{
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2vh;
}
.registerForm input{
    background-color: none;
} */

@media only screen and (max-width: 900px)
{
    #page1{
        height: auto;
        margin-top: 15vh;
    }
    #pg1-container{
        height: auto;
    }
    #page1 h1{
        font-size: 3.5vh;
    }
    #page1 a{
        font-size: 4vw;
    }
    #contact-pg4{
        height: auto;
    }

    .contact-container{
        height: auto;
        margin: 10%;
        width: 95vw;
        padding:6% 4%;
        border-radius: 20px;
    }
    .contact-container form{
        gap: 4vh;
    }

    .contact-inputs{
        height:4vh;
        padding: 2% 1%;
        width:100%;
        text-align: center;
    }
    .contact-left textarea{
        width: 300px;
    }
    
    .contact-left button{
        width:fit-content;
        padding:2% 8% ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        font-weight: 900;
        font-family: 'Times New Roman', Times, serif;
        color: #4E3629;
    }
    .nav{
        height: auto;
        width: 80vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #nr{
        flex-wrap: wrap;
        border-radius: 50px;
        padding: 3%;
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 25%;
        display: none;
        transition-duration: 1s;
        transition-timing-function: all ease;
        background-color:#433326c8;
    }
    #nl{
        gap: 2vw;
    }
    #search-bar{
        background-color: transparent;
        border: 0px;
    }
    #search-bar input{
        display:none;
    }
    #magnifying-glass{
        color: #111;
    }
    #iframe{
        display: none;
    }
    #menu{
        opacity: 1;
        cursor: pointer;
        padding: 1%;
        display: flex;
        color:#111;
    }
    #nr a{
        font-size: small;
    }
    #nl img{
        height: 3vh;
        padding: 2%;
    }
}