*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #808F69;
}
main{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: #E8F5E9;
}
#chatPage
{
    height:40vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
#chatPage h2{
    color: white;
    font-size: 5vh;
    font-weight: 800;
    text-shadow: 2px 2px 10px black;
}
#chatbox {
     width:60%; 
     max-width: 600px;
     height: 100%;
     overflow-y: scroll;
     display: flex;
     align-items: center;
     justify-content: start;
     flex-direction: column;
     gap: 4vh;
     padding:4%;
    border-radius: 5px;
    background-color:#5C7650;
    box-shadow: 2px 2px 10px 2px black;
    }
#chatForm button{
    font-weight: 800;
    color:#2E3320;
    background-color:white;
    border: none;
    width: fit-content;
    padding: 1% 10%;
    border-radius: 5px;
}
#chatForm{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}
#chatForm input{
    background-color: none;
    border: none;
    border-radius: 1px;
    padding: 1% 2%;
    min-height: 100%;
    width: 50%;
    text-wrap: wrap;
    border-radius: 5px;
}
.msg { 
    margin: 10px 0;
 }
.user { color:#e0e0e0; }
.bot { color: #2E3320; }
nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color:#505c4597;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.nl{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.nl img{
    height: 8vh;
    width: 10vh;
    border-radius: 50%;
}
.nr
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 2vh;
}
.nr a{
    color:#2E3320;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2vh;
    background-color: white;
    padding: 1% 2%;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/bg.jpeg);
    background-position: center;
    background-size: cover;
}
#page1 img{
    height: 40vh;
    width: auto;
    position: absolute;
    left:50%;
    right: 50%;
    transform: translate(-50% -50%);
    z-index: 2;
    filter: opacity(0.6);
    pointer-events: none;
}

#header h1:nth-child(odd)
{
    z-index: 1;
}
#header h1:nth-child(even)
{
    z-index: 3;
}
#pg1-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header
{
    height:100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  
}
#header h1{
    font-weight: 900;
    font-size: 25vh;
    color:white;
    transition: 0.1s ease-in;
}
#header h1:hover{
    transform:scaleY(2);
}
#aboutPage
{
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}
#about-container
{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
    box-shadow: 2px 2px 15px 2px black;
    border-radius: 10px;
}
#about-container p{
    font-size:3.5vh;
    font-weight: 600;
}
#page2{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#5C7650;
}
#pg2-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0;
}
.links{
    height: 100%;
    width: 100%;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.link{
    height: 20vh;
    width: 20vw;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    box-shadow: 2px 2px 10px 2px black;
}
.pg2-blur-top{
    height: 6vh;
    width: 100vw;
    background: linear-gradient(to bottom, transparent,#5C7650);
}
.pg2-blur-bottom
{
    height: 6vh;
    width: 100vw;
    background: linear-gradient(to top,transparent,#5C7650);
}
#pg1-blur
{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to top,#808F69,transparent);
}
.link a{
    text-decoration: none;
    font-size: 5vh;
    font-weight: 900;
    color:#2E3320;
}
#pg2-container h1{
    font-size: 8vh;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 10px  black;
}
footer{
    height:380px;
    width: 100%;
    background-color:#31574A;
    position: relative;
}
#footer-bg{
    height: fit-content;
    width: 100vw;
}
#footer-bg img
{
    height:fit-content;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
.footer-section{
    padding: 1% 2%;
    display: flex;
    justify-content: space-around;
    background-color: #31574A;
}
footer h2{
    font-size: 3vh;
    font-weight: 800;
    color:#2E3320;
}
footer h3,footer a{
    font-size: 3vh;
    font-weight:900;
    color:white;
    text-decoration: none;
}
.footer-line1{
    
    text-align: center;
    justify-content: space-evenly;
     height:380px;
    width : 200px;
    background-color: #31574A;

}

.image-twitter{
    margin-top: 12px;
    margin-left: 75px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
} 
 .image-instagram{
      margin-top: 12px;
    margin-left: 12px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;

 }
.outerwraperimg{
    margin-right: 30px;
    height:100px;

    display: flex;
    
}
.linediv1,.linediv2{
    margin-top: 95px;
    margin-left: 90px;
    height: 190px;
    width: 2px;
    background-color: black;
}
.footer-line2{
     color: white;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
     text-align: center;
    justify-content: space-evenly;
     height:380px;
    width : 600px;
    background-color: #31574A;
}
.footer-line3{
     color: white;
    margin-left: 50px;
    text-align: center;
    justify-content: space-evenly;
     height:380px;
    width : 200px;
    background-color:#31574A;
}
.footer-bottomline{

    margin-top: 20px;
    font-size: 16px;
    background-color:#31574A ;
    font-weight: bolder;

}
.lastoutline-footer{
    margin-top: 3vh;
    font-weight: bolder;
    align-items: center;
    text-align: center;
};
.heading-updates{
    color: black;
    margin-top: 90px;
}
.subscribe-form{
    margin-top: 50px;
}

.email-footer{
    
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
}

.username-footer{
    margin-top: 10px;
    margin-left: 10px;
      height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
}

.email-footer-button{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.email-footer-button:hover{
    background-color: #222; 
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.outerdivforUsername{

    margin-right: 110px;
}

.SendUsAMessage-footer{
    margin-top: 160px;
    font-size: 16px;
    font-weight: bolder;
}
.developerfrom-footer{
    margin-top: 10px;
}

.imglogo-fotter{
    margin-top: 30px;
    margin-left: 65px;
    height: 80px;
    width: 80px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50%;
}
#page3{
    margin-top: 5vh;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page3 h2{
    color: #2c3e50;
}
#page3 h1{
    color: #3A4630;
    font-weight: 900;
    font-size: 6vh;
}
.line{
    height: 0.2vh;
    width:50vw;
    background-color:black;
    align-self: center;
    border-radius:50px;
}
#tagline{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
#marqueue
{
    height:100%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
#marqueue h1{
    font-size: 25vh;
    font-weight:900;
    font-family:'Times New Roman', Times, serif;
    color:#3A4630;
}
.footer-line2 h1{
    font-size: 6vh;
    color: #e0e0e0;
}


/* Container MUST have a height */
.carousel {
  width: 100vw;
  height: 100vh;
}

/* Each slide */
.carousel-cell {
  width: 100%;
  height: 100%;
}

/* Image fills the entire slide */
.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* remove white gaps */
}


#pictures
{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#marqueue1
{
    height: 30vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #2E3320;
}
#picture-blur-left
{
    height:30vh;
    width: 10vw;
    background: linear-gradient(to left,#e0e0e0,transparent);
    transform: translateX(20%);
}
#picture-blur-right
{
    height:30vh;
    width: 10vw;
    background: linear-gradient(to right,#e0e0e0,transparent);
    transform: translateX(-20%);
}
#marqueue2{
    height: 30vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: start;
    animation-name: movement;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#marqueue2 img{
    height: 100%;
    width: 40vw;
    object-fit: cover;
    object-position: center;
}

@keyframes movement{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-200%);
    }
}
@media (max-width: 900px) {
  nav {
    height: 10vh;
  }
  .nl img {
    height: 6vh;
    width: 6vh;
  }
  .nr{
    padding: 0 2% 0 0;
  }
  .nr a {
    font-size:1.5vh;
    padding: 2% 4%;
    border-radius: 2px;
  }
  #page1
  {
    height:100vh;
    margin-top: 0;
  }
  #tagline
  {
    height:30vh;
  }
  #tagline h1
  {
    font-size: 5vh;
  }
  #header h1 {
    font-size: 6vh;
  }
  #about-container p {
    font-size: 2vh;
  }
  #chatPage
  {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
  }#chatbox{
    width: 100%;
  }
  #chatPage h2 {
    font-size: 3vh;
  }
  #pg2-container h1 {
    font-size: 4vh;
  }
  .link {
    width: 150px;
    height: 100px;
  }
  .link a {
    font-size: 2.5vh;
  }
  footer{
    height: auto;
    width: 100vw;
    flex-direction: column;
  }
  .footer-section
  {
    width: 100vw;
    flex-direction: column;
  }
  .linediv1,.linediv2
  {
    display: none;
  }
  .footer-line1,.footer-line2,.footer-line3
  {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4% 2%;
    margin: 0;
}
  .footer p
  {
    font-size: 2vh;
    width: 100%;
  }
  .footer-line2 h1
  {
    font-size: 5vh;
  }
  .footer-line3
  {
    display: none;

  }
  .footer-line1
  {
    gap: 2vh;
  }
}
